################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TodoAppMaui/.vs
/TodoAppMaui/obj
/TodoAppMaui/bin/Debug
